@import '../Components/Board/Board';
@import '../Components/Card/Card';
@import '../Components/Input/Input';
@import '../assets/colorsAndTypography';
.App {
  background-color: #0079BE;
  height: 100vh;
}
.trello__title {
  color: #fff;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 700;
  padding: $main-padding;
}
.wrapper {
  display: grid;
  grid-auto-columns: 272px;
  grid-auto-flow: column;
  grid-gap: $secondary-padding;
  padding-left: $main-padding;
}