@import '../../assets/colorsAndTypography';
.Board {
  background-color: rgb(235, 236, 240);
  border-radius: 4px;
  padding: $secondary-padding;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: $secondary-padding;
  height: max-content;
  cursor: pointer;
  .Board__title {
    font-family: $font-family;
    font-weight: 600;
    padding: 5px;
    color: $primary-color;
    font-size: $main-fontsize;
  }
}
.currentBoard {
  background-color: darken(rgb(235, 236, 240), 15%);
}