.Board {
  background-color: rgb(235, 236, 240);
  border-radius: 4px;
  padding: 8px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 8px;
  height: max-content;
  cursor: pointer;
  .Board__title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
.currentBoard {
  background-color: darken(rgb(235, 236, 240), 15%);
}