.Card {
  background-Color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
}
.Card__text {
  font-family: sans-serif;
  font-size: 0.9rem;
}
.current {
  background-color: #E3E4E9;
}