@import '../../assets/colorsAndTypography';
.Card {
  background-Color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }
  &:hover {
    background-color: #E3E4E9;
  }
  .Card__text {
    color: $primary-color;
    font-family: $font-family;
    font-size: $main-fontsize;
  }
  .current {
    background-color: #E3E4E9;
  }
}
