$font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
$main-fontsize: 0.8rem;

$primary-color: #17394d;

$main-padding: 30px;
$secondary-padding: 8px;